/Electronics/Motors/Motor Encoder/Motor Encoder Board/Motor Encoder Board-backups/*
/Electronics/Motors/Motor Driver/Motor Driver Board/Motor Driver Board-backups/*
/Electronics/Power/Power Board/Power Board-backups/*
/Electronics/Gateway/Gateway Board/Gateway Board-backups/*
/Software/STM32 Firmware/.metadata/*
/Electronics/Sensor Hub/Sensor Hub Board/Sensor Hub Board-backups/*
/Software/STM32_Firmware/micro_ros_stm32cubemx_utils
/Software/STM32_Firmware/.metadata
/Software/STM32_Firmware/.metadata/*
/ROS/microros_ws/build
/ROS/microros_ws/install
/ROS/microros_ws/log